@use "sass:math";

$color-base: #1a73d9;
$color-base-05: rgba($color-base, .05);
$color-base-10: rgba($color-base, .10);
$color-base-20: rgba($color-base, .20);
$color-base-90: rgba($color-base, .90);
$color-base-95: rgba($color-base, .95);

$color-grey-14: #eee;
$color-grey-4: #444;
$color-grey-3: #333;
$color-grey-3-50: rgba($color-grey-3, .5);

$color-shadow: rgba(166, 166, 166, .2);

$color-scrollbar: #6C7992;
$color-scrollbar-35: rgba($color-scrollbar, .35);
$color-scrollbar-75: rgba($color-scrollbar, .75);

$margin-base: 1em;
$margin-50: math.div($margin-base, 2);

$color-picker-size: 2.5em;
$border-radius-small: .25em;

$font-size-menu: .85em;
