@import "./h5p-highlight-the-words-main";

.h5p-highlight-the-words {

  .h5p-question-content {
    margin: 0;
  }

  .h5p-highlight-the-words-page {
    display: flex;
    flex-direction: row;

    .h5p-highlight-the-words-exercise {
      margin: $margin-base;
      width: 100%;

      .h5p-highlight-the-words-task-description {
        width: 100%;
      }

      .h5p-highlight-the-words-text-container {
        font-size: 1.25em;
        width: 100%;

        .h5p-highlight-the-words-text {
          line-height: 1.5;
          padding: $margin-50;

          &.h5p-highlight-the-words-disabled {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }

        .h5p-question-plus-one,
        .h5p-question-minus-one {
          top: -1em;
        }
      }

      .h5p-question-buttons {
        margin: 1em 0 0 0;
      }
    }
  }

  .h5p-highlight-the-words-ruler {
    border-bottom: 2px solid $color-grey-14;
  }

  ::-webkit-scrollbar {
    background: $color-scrollbar-35;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-scrollbar-75;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-scrollbar;
  }
}

@media only screen and (max-width: 767px) {
  .h5p-highlight-the-words .h5p-question-content .h5p-highlight-the-words-page.h5p-highlight-the-words-menu-open {
    .h5p-highlight-the-words-menu-container {
      width: 100%;
      max-width: 100%;
    }

    .h5p-highlight-the-words-exercise {
      display: none;
    }
  }
}
