@import "@styles/h5p-highlight-the-words-main";

.h5p-highlight-the-words-panel {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;

  .h5p-highlight-the-words-panel-head {
    align-items: center;
    background-color: white;
    border: 0;
    border-bottom: solid 1px $color-grey-14;
    color: $color-grey-4;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    line-height: 1.5em;
    height: 3em;
    margin-left: 0;
    padding: 0 1.125em;
    width: 100%;

    .h5p-highlight-the-words-panel-state-indicator {
      background-size: cover;
      flex-shrink: 0;
      height: .75em;
      margin-right: .75em;
      width: .75em;
    }

    .h5p-highlight-the-words-panel-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .h5p-highlight-the-words-panel-body {
    border-bottom: solid 1px $color-grey-14;
    display: none;
    width: 100%;
  }

  &.h5p-highlight-the-words-panel-active {
    .h5p-highlight-the-words-panel-head {
      background-color: $color-base-10;
      color: $color-base;
    }
  }

  &.h5p-highlight-the-words-panel-expanded {
    .h5p-highlight-the-words-panel-head {
      border-bottom: 0;
    }

    .h5p-highlight-the-words-panel-body {
      display: block;
    }
  }

  &:not(.h5p-highlight-the-words-panel-disabled) {
    .h5p-highlight-the-words-panel-head {
      &:active {
        background-color: $color-base-10;
      }
    }
  }

  &.h5p-highlight-the-words-panel-expanded:not(.h5p-highlight-the-words-panel-collapsible) {
    .h5p-highlight-the-words-panel-head {
      background-color: $color-base-10;
    }
  }

  &.h5p-highlight-the-words-panel-collapsible {
    .h5p-highlight-the-words-panel-state-indicator {
      background-image: url("../../images/symbol-collapsed-grey-4.svg");
    }
  }

  &.h5p-highlight-the-words-panel-expanded.h5p-highlight-the-words-panel-collapsible {
    .h5p-highlight-the-words-panel-state-indicator {
      background-image: url("../../images/symbol-expanded-grey-4.svg");
    }
  }

  &:not(.h5p-highlight-the-words-panel-disabled):hover {
    .h5p-highlight-the-words-panel-head {
      background-color: $color-base-05;
      cursor: pointer;
    }
  }
}
