@import './../../styles/h5p-highlight-the-words-main.scss';

.h5p-highlight-the-words-capitalization-container {
  width: 100%;

  .h5p-highlight-the-words-capitalization-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.5em;

    .h5p-highlight-the-words-capitalization-introduction {
      margin-bottom: 0.5em;

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .h5p-highlight-the-words-capitalization-radio-button-wrapper {
      display: flex;
      flex-direction: row;

      .h5p-highlight-the-words-capitalization-radio-button {
      }

      .h5p-highlight-the-words-capitalization-label {
      }
    }
  }
}
